@import '~/assets/styles/mixin.scss';
@import '~/assets/styles/var.scss';

.header {
  padding: 20px 0;
  > nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .title {
      color: #fff;
      cursor: pointer;
    }
    .menu {
      display: flex;
      align-items: center;
      > a {
        margin-left: 20px;
        color: var(--theme-color);
        font-weight: 500;
        padding: 0 0.5em 1em;
        position: relative;
        &:hover {
          color: darken($themeColor, 10%);
        }
        &::after {
          position: absolute;
          left: 50%;
          transform: translateX(-50%);
          width: calc(100% / 2);
          bottom: 0;
          height: 2px;
          background: var(--theme-color);
        }
        &[data-active="true"] {
          &::after {
            content: '';
          }
        }
      }
      .username {
        white-space: nowrap;
        position: relative;
      }
    }
  }
}

.userMenu {
  position: absolute;
  bottom: 0;
  right: 0;
  transform: translateY(110%);
  @include zIndex(popover, 1);
  list-style: none;
  margin: 0;
  padding: 10px 0;
  min-width: 200px;
  background: rgb(53, 117, 171, 40%);
  border-radius: 4px;
  > li {
    font-size: 14px;
    line-height: 28px;
    height: 28px;
    padding: 0 20px;
    white-space: nowrap;
    color: #fff;
    &:hover {
      background: rgba(53, 118, 171, 0.959);
    }
  }
}