{
  "presets": [
    ["next/babel", {
      "preset-env": {
        "targets": {
          "node": "current",
          "esmodules": false
        }
      }
    }],
    "@babel/preset-typescript"
  ],
  "plugins": [
    ["@babel/plugin-proposal-decorators", { "legacy": true }]
  ]
}