@use "sass:list";
@use 'sass:math';

:root {
  --theme-rainbow-color: #9CF0F0;
  --theme-rainbow-color-light: #B4F4F4;
  --theme-rainbow-color-lighter: #CAF7F7;
  --theme-rainbow-color-dark: #7CD6DB;
  --theme-rainbow-color-darker: #5BBBC6;
  --theme-rainbow-color-next: #FFC0CB;
}


// primary light lighter dark darker next
$colors: (
  #9CF0F0, #B4F4F4, #CAF7F7, #7CD6DB, #5BBBC6, #FFC0CB,
  #A2EDED, #B8F1F1, #CDF5F5, #82D3D8, #61B8C2, #FFB4C2,
  #A8EAEA, #BDEFEF, #D0F4F4, #88D1D5, #67B6C0, #FFA8B9,
  #AEE7E7, #C1EDED, #D3F2F2, #8ECDD1, #6DB3BB, #FF9DAF,
  #B4E4E4, #C6EAEA, #D7F0F0, #94CACD, #74AFB6, #FF92A7,
  #BAE1E1, #CBE8E8, #DAEFEF, #9AC7C9, #7AABB1, #FF86A2,
  #C0DEDE, #CFE6E6, #DDEDED, #A1C3C5, #81A7AC, #FF7B95,
  #C6DBDB, #D4E4E4, #E0ECEC, #A8C0C2, #89A5A8, #FF6F8C,
  #CCD3D3, #D8DEDE, #E4E7E7, #CCD3D3, #929A9B, #FF6483,
  #D2D5D5, #DDDFDF, #E7E8E8, #B5B9B9, #989C9C, #FF577A,
  #D8D2D2, #E1DDDD, #EAE7E7, #C0B7B9, #A69C9F, #FF4D71,
  #DED3CF, #E6DEDA, #EDE7E5, #C7B5B4, #AF9697, #FF4168,
  #E4D0CC, #EADBD8, #F0E6E4, #D0B0B1, #BB8F96, #FF355F,
  #EAD3C9, #EFDED6, #F4E7E2, #D8AFAA, #C5898B, #FF2956,
  #F0D6C6, #F4E0D4, #F7E9E0, #E0ADA3, #CF837E, #FF1F4D,
  #F6D3C3, #F8DED1, #FAE7DF, #E9A79F, #DB7A7A, #FF1344,
  #FFC0CB, #FFCFD7, #FFDDE3, #F791BB, #F062AA, #FF033E,
  #FFB4C2, #FFC6D1, #FFD7DE, #F688B4, #ED5CA5, #FD133A,
  #FFA8B9, #FFBDCA, #FFD0D9, #F57FAD, #EB55A1, #FB2336,
  #FF9DAF, #FFB4C2, #FFCAD4, #F477A4, #E85098, #F92332,
  #FF92A7, #FFACBC, #FFC4D0, #F36F9E, #E64A94, #F7432E,
  #FF86A2, #FFA3B8, #FFBECD, #F0669A, #E14492, #F5532A,
  #FF7B95, #FF9BAE, #FFB8C6, #EF5D8E, #DF3F87, #F36326,
  #FF6F8C, #FF91A8, #FFB1C1, #EE5486, #DC3880, #F17322,
  #FF6483, #FF89A1, #FFACBC, #ED4C7F, #DA337A, #EF832E,
  #FF577A, #FF7F9A, #FFA5B7, #EB4277, #D72C74, #ED932A,
  #FF4D71, #FF7893, #FF9FB3, #EA3A70, #D4276E, #EBA716,
  #FF4168, #FF6E8C, #FF99AE, #E93168, #D22168, #E9B312,
  #FF355F, #FF6585, #FF92A9, #E6285F, #CD1B60, #E7C50E,
  #FF2956, #FF5C7E, #FF8CA4, #E51F58, #CA155B, #E5D30A,
  #FF1F4D, #FF5578, #FF869F, #E41750, #C81053, #E3E306,
  #FF1344, #FF4B71, #FF809A, #E30E49, #C60A4D, #E1F302,
  #FF033E, #FF3F6C, #FF7797, #E10244, #C3024B, #DFFF00,
  #FD133A, #FD4B69, #FE8095, #E10F40, #C40A46, #D9FF0D,
  #FB2336, #FC5866, #FD8993, #E01B3B, #C41340, #D3FF1A,
  #F92332, #FA5863, #FC8991, #DE1B37, #C3143C, #CDFF27,
  #F7432E, #F97060, #FB9A8E, #DE342F, #C42530, #C7FF34,
  #F5532A, #F77C5D, #FAA28C, #DB4029, #BF2D28, #C1FF41,
  #F36326, #F6885A, #F9AB8A, #D94D23, #BE361F, #BBFF4E,
  #F17322, #F49457, #F7B488, #D6591D, #BA3E18, #B5FF5B,
  #EF832E, #F3A160, #F6BC8E, #D56625, #BB481C, #AFFF68,
  #ED932A, #F1AD5D, #F5C58C, #D37522, #B9561B, #A9FF75,
  #EBA716, #F0BC4E, #F4D082, #CE8713, #CE8713, #A3FF82,
  #E9B312, #EEC54B, #F3D67F, #CD9210, #B1710E, #9DFF8F,
  #E7C50E, #EDD348, #F2E07D, #CBA20C, #AE7E0B, #97FF9C,
  #E5D30A, #EBDE45, #F1E77B, #CAAE09, #AE8808, #91FFA9,
  #E3E306, #EAEA42, #F0F079, #C8BC05, #AB9405, #8BFFB6,
  #E1F302, #E8F63F, #EFF977, #C8CB02, #AEA102, #85FFC3,
  #DFFF00, #E7FF3D, #EEFF76, #C8D700, #B0AD00, #7FFFD4,
  #D9FF0D, #E2FF47, #EBFF7D, #C6D90A, #B2B207, #82FEDD,
  #D3FF1A, #DEFF51, #E7FF84, #C3DC14, #B2B70D, #84FDDD,
  #CDFF27, #D9FF5B, #E4FF8B, #BFDE1E, #B1BC14, #87FCDC,
  #C7FF34, #D4FF65, #E1FF92, #BCE127, #B0C21A, #89FBDC,
  #C1FF41, #D0FF6E, #DEFF99, #BAE531, #B2CA21, #8AFBDC,
  #BBFF4E, #CBFF78, #DAFFA0, #B6E83B, #B2D028, #8EFADC,
  #B5FF5B, #C7FF82, #D7FFA7, #B3EB45, #B0D72E, #91F9E4,
  #AFFF68, #C2FF8C, #D4FFAE, #ACED4F, #A8DA35, #93F7E6,
  #A9FF75, #BEFF96, #D1FFB5, #A5EF59, #A2DF3C, #96F5E9,
  #A3FF82, #B9FFA0, #CDFFBC, #9CF062, #96E142, #98F3EB,
  #9DFF8F, #B4FFAA, #CAFFC3, #91F16C, #91F16C, #9AF1ED,
  #97FF9C, #B0FFB4, #C7FFCA, #72EE80, #4DDC63, #9CF0EF,
  #91FFA9, #ABFFBE, #C4FFD1, #6EED91, #4ADA77, #A0EEF1,
  #8BFFB6, #A7FFC7, #C1FFD8, #69EDA1, #47DA8B, #A2ECF4,
  #85FFC3, #A2FFD1, #BDFFDF, #65EBB0, #44D79C, #A5EAF6,
  #7FFFD4, #9EFFDE, #BAFFE8, #60EBC4, #41D7B3, #9CF0F0,
  #82FEDD, #A0FEE5, #A0FEE5, #63EACD, #63EACD, #A2EDED,
  #84FDDD, #A1FDE5, #BDFEED, #65E9CD, #65E9CD, #A8EAEA,
  #87FCDC, #A4FDE4, #BEFDEC, #67E8CC, #47D3BB, #AEE7E7,
  #89FBDC, #A5FCE4, #BFFDEC, #69E7CB, #49D2BA, #B4E4E4,
  #8AFBDC, #A6FCE4, #C0FDEC, #6AE7CB, #49D2BA, #BAE1E1,
  #8EFADC, #A9FBE4, #C2FCEC, #6DE7CC, #4CD3BB, #C0DEDE,
  #91F9E4, #ABFAEA, #C4FCF0, #70E6D4, #4ED2C5, #C6DBDB,
  #93F7E6, #ADF9EC, #C5FBF2, #72E3D6, #51CFC7, #CCD3D3,
  #96F5E9, #AFF7EE, #C6FAF3, #75E0D8, #54CAC7, #D2D5D5,
  #98F3EB, #B1F6F0, #C8F9F4, #78DCD9, #57C4C6, #D8D2D2,
  #9AF1ED, #B2F4F1, #C9F7F5, #7AD9DA, #59C0C6, #DED3CF,
  #9CF0EF, #B4F4F3, #CAF7F6, #7CD7DB, #5BBCC6, #E4D0CC,
  #A0EEF1, #B4F4F3, #CAF7F6, #7CD7DB, #5BBCC6, #EAD3C9,
  #A2ECF4, #B8F1F7, #CDF5F9, #7FD1E1, #5CB6CD, #F0D6C6,
  #A5EAF6, #BBEFF8, #CFF4FA, #81CEE3, #5CB1CF, #F6D3C3,
  #9CF0F0, #B4F4F4, #CAF7F7, #7CD6DB, #5BBBC6, #FFC0CB,
);


/**
 * 规律每一帧 1.25%
 * 一共 5 个颜色
 * 每个颜色渐变到另一个颜色需要16步，也就是20%（16 * 1.25）
 * 80% 的时候需要渐变回到第一个颜色
*/
@keyframes rainbow {
  $length: math.div(list.length($colors), 6);
  @for $i from 0 through 80 {
    $keyframe: $i * 1.25 + "%";
    $colorIndex: 1 + 6 * $i;
    #{$keyframe} {
      --theme-rainbow-color: #{list.nth($colors, $colorIndex)};
      --theme-rainbow-color-light: #{list.nth($colors, $colorIndex + 1)};
      --theme-rainbow-color-lighter: #{list.nth($colors, $colorIndex + 2)};
      --theme-rainbow-color-dark: #{list.nth($colors, $colorIndex + 3)};
      --theme-rainbow-color-darker: #{list.nth($colors, $colorIndex + 4)};
      --theme-rainbow-color-next: #{list.nth($colors, $colorIndex + 5)};
    }
  }
}

.rainbow {
  animation: rainbow 40s linear infinite;
}

.rainbow-border {
  background: linear-gradient(to right, transparent 50%, black 50%), linear-gradient(to right, var(--theme-rainbow-color), var(--theme-rainbow-color-next));
  background-size: 8px 2px, 100% 2px;
}
