@import '~/assets/styles/mixin';

.container {
  margin-top: 20px;
  padding: 20px 0;
  border-top: 1px solid var(--border-color);
  font-weight: 300;
  color: var(--font-color);
  .labels {
    list-style: none;
    padding: 0;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 20px;
    > li {
      margin: 0 10px 10px 0;
      color: rgba(255,255,255,0.5);
      flex: none;
    }
  }
  .introduction {
    margin-bottom: 30px;
  }
}