.container {
  margin-bottom: 36px;
  label {
    display: block;
    font-weight: 600;
    margin-bottom: 10px;
  }
  .input_wrap {
    display: flex;
    align-items: center;
    transition: all ease-in;
    border-bottom: 2px solid var(--theme-color-yellow);
    padding-bottom: 10px;
    margin-bottom: 15px;
    > span {
      color: var(--theme-color-blue);
      flex: none;
    }
    > input {
      outline: none;
      border: none;
      padding: 0 0.5em;
      color: var(--theme-color-white);
      font-size: 16px;
      height: 2em;
      background: transparent;
      flex: 1;
    }
    .eyes_icon {
      font-size: 28px;
      cursor: pointer;
      margin-left: 40px;
      user-select: none;
    }
  }

  .options_wrap {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 20px;
    margin-bottom: 20px;
    > li {
      margin-right: 20px;
      margin-bottom: 20px;
      font-size: 14px;
      display: flex;
      align-items: center;
      cursor: pointer;
      .option_prefix {
        width: 15px;
        height: 15px;
        margin-right: 10px;
        border: 1px solid var(--theme-color-pink);
        display: flex;
        align-items: center;
        justify-content: center;
        > span {
          display: none;
          width: 8px;
          height: 8px;
          background: var(--theme-color-pink);
        }
        &[data-shape='circle'] {
          border-radius: 50%;
          > span {
            border-radius: 50%;
          }
        }
      }
      &[data-selected='true'] {
        .option_prefix > span {
          display: block;
        }
      }
    }
  }

  .verification_message {
    color: #f4545e;
  }
}