.container {
  margin-bottom: 36px;
  label {
    display: block;
    font-weight: 600;
    margin-bottom: 10px;
  }
  .input_wrap {
    display: flex;
    align-items: center;
    transition: all ease-in;
    border-bottom: 2px solid var(--theme-color-yellow);
    padding-bottom: 10px;
    margin-bottom: 15px;
    > span {
      color: var(--theme-color-blue);
      flex: none;
    }
    > input {
      outline: none;
      border: none;
      padding: 0 0.5em;
      color: var(--theme-color-white);
      font-size: 16px;
      height: 2em;
      background: transparent;
      flex: 1;
    }
    .eyes_icon {
      font-size: 28px;
      cursor: pointer;
      margin-left: 40px;
      user-select: none;
    }
  }

  .verification_message {
    color: #f4545e;
  }
}