@import '~/assets/styles/mixin.scss';

.layout {
  max-width: var(--main-width);
  margin: 0 auto;
  padding: 0 20px 20px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

@include mobile {
  .layout {
    max-width: 100%;
    width: 100%;
  }
}