@use "sass:list";
@use "~/assets/styles/lib";
@use "~/assets/styles/mixin";

@keyframes hinge {
  0% {
    animation-timing-function: ease-in-out;
  }

  20%,
  60% {
    transform: rotate3d(0, 0, 1, 80deg);
    animation-timing-function: ease-in-out;
  }

  40%,
  80% {
    transform: rotate3d(0, 0, 1, 60deg);
    animation-timing-function: ease-in-out;
    opacity: 1;
  }

  to {
    transform: translate3d(0, 700px, 0);
    opacity: 0;
  }
}

@keyframes flicker {
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}

.container {
  background: #02010e;
  height: 100vh;
  width: 100vw;
  position: relative;
  @include mixin.zIndex(overlay);
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  color: #F6FBF4;
  .bg {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    @include mixin.zIndex(wallpaper);
  }
  .grid {
    height: 100%;
    width: 100%;
  }
  .slogan {
    position: absolute;
    top: 2em;
    left: 2em;
    animation: flicker 2s 4s infinite ease-in-out;
    > h2 {
      font-size: 32px;
      color: var(--theme-color-blue);
      text-shadow: 0 0 20px var(--theme-color-blue);
      &:last-child {
        animation: hinge 2s 2s;
        transform-origin: top left;
      }
    }
  }
  .main {
    width: var(--main-width);
    flex: 1;
    background: rgba(0, 055, 0, 0.2);
    backdrop-filter: blur(10px);
    border-radius: var(--border-radius);
    border: 1px solid rgba(0, 0, 0, 0.416);
    display: flex;
    flex-direction: column;
    &_inner {
      width: 100%;
      flex: 1;
    }
  }
  .footer {
    position: fixed;
    left: 10px;
    bottom: 10px;
    letter-spacing: 0;
    color: var(--theme-color-white-6);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    a {
      font-size: 12px;
    }
    .record {
      display: flex;
      align-items: center;
      margin-top: 10px;
      > p {
        margin-left: 0.5em;
      }
    }
  }
}

.cube {
  $width: 50vw;
  $height: 50vw;
  $offset: $width / 2;
  position: absolute;
  right: 0;
  bottom: 0;
  width: $width;
  height: $height;
  backface-visibility: visible;
  transform-style: preserve-3d;
  perspective: none;
  perspective-origin: center center;
  transform: rotateX(-15deg) rotateY(-45deg);
  > div {
    position: absolute;
    width: $width;
    height: $height;
    padding: 32px;
    // 前
    &:nth-child(1) {
      transform: translateZ($offset);
      border-right: none;
      border: 2px solid var(--theme-color-green);
      box-shadow: 0 0 20px 0px var(--theme-color-green);
      color: var(--theme-color-green);
    }
    // 后
    &:nth-child(2) {
      transform: translateZ(-$offset) rotateY(180deg);
    }
    // 左
    &:nth-child(3) {
      transform: translateX(-$offset) rotateY(-90deg);
    }
    // 右
    &:nth-child(4) {
      border-left: none;
      border: 2px solid var(--theme-color-yellow);
      box-shadow: 0 0 20px 0px var(--theme-color-yellow);
      color: var(--theme-color-yellow);
      transform: translateX($offset) rotateY(90deg);
    }
    // 上
    &:nth-child(5) {
      height: $width;
      border-right: 2px solid var(--theme-color-blue);
      box-shadow: 0 0 20px 0px var(--theme-color-blue);
      color: var(--theme-color-blue);
      transform: translateY(-$offset) rotateX(-90deg) rotateY(180deg);
    }
    // 下
    &:nth-child(6) {
      height: $width;
      transform: translateZ($offset) translateY($height) rotateX(-90deg);
      transform-origin: center top;
    }
  }
  &_inner {
    height: 100%;
    overflow: hidden;
    > p {
      line-height: 1.5;
      font-size: 16px;
    }
    > h4 {
      margin-top: 1em;
    }
  }
}