@use '~/assets/styles/mixin';

.container {
  position: fixed;
  @include mixin.zIndex(navbar);
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  width: var(--main-width);
  height: var(--nav-height);
  background: var(--theme-color-black);
  border-top-left-radius: var(--border-radius);
  border-top-right-radius: var(--border-radius);
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0 20px;
  > li {
    margin-right: 2em;
    cursor: pointer;
    transition: all 0.2s;
    &[data-active='true'] {
      color: var(--theme-color-yellow);
    }
    &:hover {
      color: var(--theme-color-yellow);
      text-shadow: 0 0 10px var(--theme-color-yellow);
    }
    a {
      text-decoration: none;
    }
  }
  .submenu {
    position: relative;
    > ul {
      padding-top: 20px;
      display: none;
      position: absolute;
      top: 100%;
      left: 0;
      border-radius: 4px;
      color: #fff !important;
      text-shadow: none !important;
      > li {
        font-size: 14px;
        line-height: 40px;
        height: 40px;
        padding: 0 20px;
        white-space: nowrap;
        background: rgb(53, 117, 171, 40%);
        &:hover {
          background: rgba(53, 118, 171, 0.959);
        }
      }
    }
    &:hover {
      > ul {
        display: block;
      }
    }
  }
}