.container {
  height: var(--nav-height);
  background: var(--color-black);
  border-top-left-radius: var(--border-radius);
  border-top-right-radius: var(--border-radius);
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0 20px;
  > li {
    margin-right: 2em;
    cursor: pointer;
    transition: all 0.2s;
    &[data-active='true'] {
      color: var(--color-yellow);
    }
    &:hover {
      color: var(--color-yellow);
      text-shadow: 0 0 10px var(--color-yellow);
    }
    > a {
      text-decoration: none;
    }
  }
}