button {
  $colors: 'green', 'orange', 'red', 'purple', 'pink', 'blue';
  @each $color in $colors {
    &[data-color=#{$color}] {
      &[data-variant="outline"] {
        background: transparent;
        color: lighten($color: $theme-color-green, $amount: 0.2);
        border: 1px solid lighten($color: $theme-color-green, $amount: 0.3);
      }
    }
  }
}