.header {
  color: var(--theme-color-yellow);
  margin: 40px 0;
  > h1 {
    font-size: 22px;
    padding-bottom: 15px;
    position: relative;
    margin-bottom: 15px;
    &::after {
      content: '';
      position: absolute;
      bottom: 5px;
      left: 0;
      width: 100%;
    }
    &, &::after {
      border-bottom: 3px dotted var(--theme-color-yellow);;
    }
  }

  > div {
    font-weight: lighter;
  }
}

.buttons,
.buttons > .right {
  display: flex;
  align-items: center;
  > button:first-child {
    margin-right: 20px;
  }
}

.buttons {
  justify-content: space-between;
}