:root {
  --bg-color-yellow: #c1f130;
  --bg-color-green: #5bab3c;
  --bg-color-blue: #60faf8;
  --nav-height: 96px;
  --main-border-radius: 8px;
  --main-width: 1200px;
}

html {
  font-size: 16px;
}
