$theme-color-green: rgb(13,148,136);
$theme-color-orange: rgb(245,158,11);
$theme-color-red: rgb(225,29,72);
$theme-color-purple: rgb(124,58,237);
$theme-color-pink: rgb(219,39,119);
$theme-color-blue: rgb(8,145,178);

/**
 * padding
 * 1 - 0.25rem
 */
.px-4 {
  padding-left: 1rem;
  padding-right: 1rem;
}
.py-2 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

/**
 * rounded
 * 1 - 0.25rem
 */
.rounded {
  border-radius: 0.25rem;
}


button {
  $colors: 'green', 'orange', 'red', 'purple', 'pink', 'blue';
  @each $color in $colors {
    &[data-color=#{$color}] {
      &[data-variant="outline"] {
        background: transparent;
        color: lighten($color: $theme-color-green, $amount: 0.2);
        border: 1px solid lighten($color: $theme-color-green, $amount: 0.3);
      }
    }
  }
}