@use './mixin';

.markdown-wrap {
  .bytemd-preview,
  .markdown-body {
    background: var(--theme-color-black) !important;
  }
  .markdown-body {
    color: #03BD9D;
    h1,h2,h3,h4,h5,h6 {
      margin: 24px 0 16px;
      padding-bottom: 16px;
      color: #9595FF;
      font-weight: normal;
      border-bottom: 1px solid #9595FF;
      &::before {
        content: '#';
      }
    }
    p {
      line-height: 1.5;
      margin-bottom: 16px;
    }
    blockquote {
      background: #202627;
      color: #f388c0;
      padding: 1em;
      border-left: 1px solid #f388c0;
    }
    em {
      color: #F38E58;
    }
    li {
      color: #FFD124;
      list-style: inherit;
    }
    strong {
      font-weight: bold;
      color: #F34573;
    }
    pre {
      position: relative;
      .copy-button {
        color: #000;
        box-sizing: border-box;
        cursor: pointer;
        user-select: none;
        background: #adb5bd;
        border: 1px solid rgba(0, 0, 0, 0);
        padding: 5px 10px;
        font-size: 0.8em;
        position: absolute;
        top: 0;
        right: 0;
        border-radius: 0 0.15rem;
      }
    }
  }
}

.markdown-viewer-wrap {
  padding-top: 40px;
  .markdown-body {
    background: transparent !important;
  }
}

.medium-zoom--opened .medium-zoom-overlay {
  @include mixin.zIndex(markdownImagePreviewBg);
}
.medium-zoom--opened .medium-zoom-image--opened {
  @include mixin.zIndex(markdownImagePreview);
}