
@mixin zIndex($level) {
  $levelMap: (
    wallpaper: -100,
    overlay: 100,
    navbar: 800,
    modal: 900,
    breakingThroughTheSky: 999,
  );

  z-index: map-get($levelMap, $level);
}

@mixin mobile {
  @media screen and (max-width: 960px) {
    @content;
  }
}