@import '~/assets/styles/var.scss';
@import '~/assets/styles/mixin.scss';

.labels,
.posts {
  padding: 0;
  list-style: none;
}

.labels {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  position: relative;
  overflow: auto;
  > li:not(.labelListControl) {
    color: var(--font-color);
    padding: 0.5em 1em;
    border: 1px dashed var(--font-color);
    margin-right: 1em;
    margin-bottom: 1em;
    cursor: pointer;
    &:hover,
    &[data-selected="true"] {
      color: var(--font-color);
      background: var(--blue);
      border-color: var(--blue);
    }
  }
  .labelListControl {
    background-image: linear-gradient(315deg, #456b7a 0%, #435870 74%);
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--font-color);
    cursor: pointer;
    width: 100%;
    height: 40px;
    &::before {
      content: '';
      height: 20px;
      width: 20px;
      background: url('~/assets/images/arrow_down.png') no-repeat center / 100%;
      margin-right: 10px;
    }
  }
}