@import '~/assets/styles/var.scss';
@import '~/assets/styles/mixin.scss';

.labels,
.posts {
  padding: 0;
  list-style: none;
}

.labels {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  position: relative;
  overflow: auto;
  > li:not(.labelListControl) {
    color: var(--theme-color);
    padding: 0.5em 1em;
    border: 1px dashed var(--theme-color);
    margin-right: 1em;
    margin-bottom: 1em;
    cursor: pointer;
    &:hover,
    &[data-selected="true"] {
      color: #fff;
      background: var(--theme-color);
    }
  }
  .labelListControl {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    @include zIndex(overlay, 1);
    background-color: #29539b;
    background-image: linear-gradient(315deg, #29539b 0%, #1e3b70 74%);
    display: none;
    align-items: center;
    justify-content: center;
    color: #fff;
    cursor: pointer;
  }
  &[data-collapse="true"] {
    height: 40px;
    .labelListControl {
      display: flex;
    }
  }
}