---
interface Props {
  class?: string;
  title?: string;
  description?: string;
  icon?: string;
}

const { class: classes, title, description, icon } = Astro.props;
---

<div class={`${classes} flex flex-col items-center justify-center`}>
  <img class="mb-4 h-[50px] w-[50px]" src={icon} alt="feature icon" />
  <h3 class="mb-4 text-lg font-bold italic">{title}</h3>
  <p class="text-xl">{description}</p>
</div>
