<footer class="main-block">
  <a
    href="https://www.flaticon.com/free-icons/loch-ness-monster"
    title="loch ness monster icons"
  >
    Loch ness monster icons created by Freepik - Flaticon
  </a>
  <a
    href="https://www.flaticon.com/free-icons/miscellaneous"
    title="miscellaneous icons"
  >
    Miscellaneous icons created by aputpalace - Flaticon
  </a>
  <a href="https://www.flaticon.com/free-icons/unicorn" title="unicorn icons">
    Unicorn icons created by Roundicons Premium - Flaticon
  </a>
</footer>
