---
const navList = [
  { title: "Notes", href: "/notes/all" },
  { title: "About", href: "/about" },
  { title: "Resume", href: "/resume" },
];
---

<header
  class="main-block glass-block mb-8 mt-16 flex h-[80px] items-center justify-between p-8"
>
  <a href="/" class="w-[50px]">
    <svg
      height="100%"
      stroke-miterlimit="10"
      style="fill-rule:nonzero;clip-rule:evenodd;stroke-linecap:round;stroke-linejoin:round;"
      version="1.1"
      viewBox="0 0 128 128"
      width="100%"
      xml:space="preserve"
      xmlns="http://www.w3.org/2000/svg"
      xmlns:xlink="http://www.w3.org/1999/xlink"
    >
      <defs></defs>
      <g id="图层-1">
        <g opacity="1">
          <path
            d="M64.5063 27.9925"
            fill="#ffffff"
            fill-opacity="0"
            fill-rule="nonzero"
            opacity="1"
            stroke="#444346"
            stroke-linecap="butt"
            stroke-linejoin="round"
            stroke-width="2.5"></path>
          <path
            d="M57.0573 47.2132C57.0573 40.2318 59.5082 34.5723 62.5314 34.5723C65.5547 34.5723 68.0055 40.2318 68.0055 47.2132C68.0055 54.1946 65.5547 56.0025 62.5314 56.0025C59.5082 56.0025 57.0573 54.1946 57.0573 47.2132Z"
            fill="#444346"
            fill-rule="nonzero"
            opacity="1"
            stroke="#444346"
            stroke-linecap="butt"
            stroke-linejoin="round"
            stroke-width="2.5"></path>
          <path
            d="M81.6165 47.2132C81.6165 40.2318 83.9916 34.5723 86.9214 34.5723C89.8512 34.5723 92.2263 40.2318 92.2263 47.2132C92.2263 54.1946 89.8512 56.0025 86.9214 56.0025C83.9916 56.0025 81.6165 54.1946 81.6165 47.2132Z"
            fill="#444346"
            fill-rule="nonzero"
            opacity="1"
            stroke="#444346"
            stroke-linecap="butt"
            stroke-linejoin="round"
            stroke-width="2.5"></path>
          <path
            d="M35.0842 43.246C35.0842 34.9923 42.1172 20.1121 68.1185 20.1121C94.1198 20.1121 103.325 33.1153 103.325 41.3689"
            fill="#ffffff"
            fill-opacity="0"
            fill-rule="nonzero"
            opacity="1"
            stroke="#444346"
            stroke-linecap="butt"
            stroke-linejoin="round"
            stroke-width="2.5"></path>
          <path
            d="M15.4856 107.888C35.2193 98.8509 34.8409 91.3727 34.8409 91.3727L35.0842 43.246"
            fill="none"
            opacity="1"
            stroke="#444346"
            stroke-linecap="butt"
            stroke-linejoin="round"
            stroke-width="2.5"></path>
          <path
            d="M103.325 40.315C103.325 40.315 106.054 74.1917 103.325 91.0589C100.595 107.926 91.9332 107.888 91.9332 107.888L92.2263 107.888"
            fill="none"
            opacity="1"
            stroke="#444346"
            stroke-linecap="butt"
            stroke-linejoin="round"
            stroke-width="2.5"></path>
          <path
            d="M14 107.888L92.2263 107.888"
            fill="none"
            opacity="1"
            stroke="#444346"
            stroke-linecap="butt"
            stroke-linejoin="round"
            stroke-width="2.5"></path>
          <path
            d="M45.2969 63.4454C45.2969 63.4454 53.9611 68.1708 57.8089 69.7832C62.5688 71.778 62.6905 70.9699 62.4691 73.9163C62.2475 76.8638 60.8743 79.9261 56.2855 81.7405C52.5796 83.2059 45.7546 83.5494 43.6949 84.7575"
            fill="none"
            opacity="1"
            stroke="#444346"
            stroke-linecap="butt"
            stroke-linejoin="round"
            stroke-width="2.5"></path>
          <path
            d="M103.325 60.0862C103.325 60.0862 117.928 63.6286 117.595 67.2987C117.301 70.5358 108.368 72.4231 103.636 74.1015"
            fill="none"
            opacity="1"
            stroke="#444346"
            stroke-linecap="butt"
            stroke-linejoin="round"
            stroke-width="2.5"></path>
        </g>
      </g>
    </svg>
  </a>

  <nav class="flex">
    {
      navList.map(({ href, title }) => (
        <a {href} class="ml-8 animate-text-focus-in text-2xl font-bold">
          {title}
        </a>
      ))
    }
  </nav>
</header>
