.container {
  .welcome {
    min-height: 200px;
    > h1 {
      margin-bottom: 15px;
    }
    > p {
      line-height: 2;
    }
    .icon_wrap {
      margin-top: 10px;
      display: flex;
      align-items: center;
      > li {
        margin-right: 20px;
        cursor: pointer;
      }
    }
    .icon {
      width: 32px;
      height: 32px;
      color: var(--theme-color-yellow);
    }
  }

  .notes {
    margin-top: 40px;
  }
}