---
interface Props {
  title?: string;
}

const { title = "牢骚百物语" } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="title" content={title} />
    <meta name="description" content="一个自学前端的大龄肥宅的技术笔记" />
    <meta name="keywords" content="技术笔记, 前端开发, 编程教程, Web 开发" />
    <meta name="robots" content="index, follow" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="language" content="Chinese" />
    <meta name="revisit-after" content="1 days" />
    <meta name="author" content="madaocai@gmail.com" />

    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, minimal-ui"
    />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <slot name="style" />
  </head>
  <body>
    <slot />
  </body>
</html>
