---
import Header from "~/components/Header.astro";
import Footer from "~/components/Footer.astro";
import BaseLayout from "~/layouts/Base.astro";
interface Props {
  title?: string;
}

const { title } = Astro.props;
---

<BaseLayout title={title}>
  <!-- https://github.com/ota-meshi/eslint-plugin-astro/issues/311 -->
  <style slot="style" is:global>
    html {
      font-family:
        -apple-system,
        BlinkMacSystemFont,
        Segoe UI,
        Helvetica,
        Arial,
        sans-serif,
        Apple Color Emoji,
        Segoe UI Emoji;
    }

    html,
    body {
      height: 100%;
    }

    code {
      font-family:
        Menlo,
        Monaco,
        Lucida Console,
        Liberation Mono,
        DejaVu Sans Mono,
        Bitstream Vera Sans Mono,
        Courier New,
        monospace;
    }

    a:hover,
    button:hover {
      opacity: 0.7 !important;
    }

    a:active {
      color: inherit;
    }
  </style>

  <div
    class="flex h-full flex-col overflow-hidden bg-gradient-to-br from-[#D3E0EA] via-[#D6E4E5] to-[#EAE3D2] text-primary"
  >
    <Header />
    <div class="w-full flex-1 overflow-y-auto hidden-scrollbar">
      <main class="main-block">
        <slot />
      </main>
      <Footer />
    </div>
  </div>
</BaseLayout>
