---
import Header from '../components/Header.svelte';
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="title" content="牢骚百物语" />
    <meta name="description" content="探索前端开发世界的精彩，从HTML、CSS到JavaScript和流行的框架，发现最新的编程教程、设计模式和开发工具。技术笔记网站提供丰富的内容，帮助您掌握Web开发的精髓，优化您的工作流程，并学习最佳实践，无论您是初学者还是经验丰富的开发者，都能在这里找到有用的资源和指导。立即开始您的学习之旅！" />
    <meta name="keywords" content="技术笔记, 前端开发, 编程教程, Web 开发, 前端工具" />
    <meta name="robots" content="index, follow" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="language" content="Chinese" />
    <meta name="revisit-after" content="1 days" />
    <meta name="author" content="madaocai@gmail.com" />

    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, minimal-ui" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>

    <!-- https://github.com/ota-meshi/eslint-plugin-astro/issues/311 -->
    <style is:global>
      html {
        font-family: system-ui, sans-serif;
      }

      html, body {
        height: 100%;
      }

      code {
        font-family:
          Menlo,
          Monaco,
          Lucida Console,
          Liberation Mono,
          DejaVu Sans Mono,
          Bitstream Vera Sans Mono,
          Courier New,
          monospace;
      }
    </style>

  </head>
  <body class="h-full w-full bg-gradient-to-br from-[#ADD8E6] to-[#F0F8FF]">
    <main class="w-[1200px]">
      <Header />
      <slot />
    </main>
  </body>
</html>
