@import '~/styles/mixin.scss';

.layout {
  @include flex-column-center;
  height: 100vh;
  max-width: var(--main-width);
  margin: 0 auto;
  padding: 0 20px;
  .header {
    width: 100%;
    padding: 20px 0;
    > nav {
      @include flex-center-between;
      > a {
        color: white;
        font-weight: 500;
        text-decoration: none;
      }
    }
  }
  .welcome {
    padding: 10px 30px;
    background: #0c162d;
    border: 1px solid #202637;
    width: 100%;
    margin: 30px 10px;
    border-radius: 8px;
    > p {
      font-size: 14px;
      color: #627597;
      margin: 0;
    }
  }
}