@import '~/styles/var.scss';
@import '~/styles/mixin.scss';

.layout {
  background: #040d21;
  height: 100vh;
  overflow: hidden;
  .welcome {
    padding: 10px 30px;
    background: #0c162d;
    border: 1px solid #202637;
    width: 50%;
    min-height: 70px;
    margin: 30px auto;
    border-radius: 8px;
    > p {
      font-size: 14px;
      color: #627597;
      margin: 0;
    }
  }
}