@import '~/styles/var.scss';
@import '~/styles/mixin.scss';

.layout {
  margin: 0 auto;
  max-width: var(--main-width);
  padding: 40px;
  .header {
    @include flex-center;
    align-items: stretch;
  }
  .title {
    font-size: var(--font-size);
    font-weight: normal;
    color: #000;
    padding: 5px 10px;
    background: var(--default-theme-color);
    > a {
      text-decoration: none;
      &:visited {
        color: inherit;
      }
    }
  }
  .dividingLine {
    flex: 1;
    background: repeating-linear-gradient(90deg, var(--default-theme-color),var(--default-theme-color) 2px,transparent 0,transparent 10px);;
  }
  @each $key, $value in $colors {
    &[data-theme=#{"" + $key}] {
      color: $value;
    }
  }
}