$purple: #72147e !default;
$green: #206a5d !default;
$orange: #fb9300 !default;
$red: #f54748 !default;
$blue: #005a8d !default;
$pink: #e798ae !default;
$yellow: #fed049 !default;

$colors: (
  purple: $purple,
  green: $green,
  orange: $orange,
  red: $red,
  blue: $blue,
  pink: $pink,
  yellow: $yellow,
);
